<div class="h-screen bg-[#F4F5F9]">
     <div class="m-4 md:mx-20 md:m-10 p-4 bg-[#FAFBFC] shadow-sm min-h-[80%]">
        <div class="flex flex-col space-y-2 md:flex-row md-space-y-0 p-4 md:justify-between md:items-center">
            <h2 class="text-2xl font-bold">Notes</h2>
            <div class="flex gap-2 flex-col md:justify-center md:items-center md:flex-row">
                <%= form_with id:"myForm" do |form| %>
                    <div class="flex gap-2 md:justify-center items-center">
                        <%= form.label :filter, "Filter By:", class:"font-light"%>
                        <div class="flex p-2.5 border-2 border-gray-700 rounded-md items-center justify-center">
                            <%= form.date_field :filter, class:"border-none p-0 focus:outline-white focus:bg-[#FAFBFC]", value:@date %>
                            <label for="filter"><%= image_tag "Calendar Icon in Filter By Date.png", class:"w-[30px] h-[20px]"%></label>
                        </div>

                    </div>
                <% end %>
                <% if !@notes.empty? %>
                    <a href="<%= new_note_path %>" class="border-2 bg-[#FAFBFC] border-[#F04C55] rounded-md px-2.5 hover:bg-[#F04C55]">
                        <div class="flex text-[#F04C55] justify-center items-center gap-2 hover:text-white">
                            <div class="text-4xl mb-1">+</div>
                            <div>Add Note</div>
                        </div>
                    </a>
                <% end %>
            </div>
        </div>
        <div>
            <% if @notes.empty? %>
                <%= render "empty_note" %>
            <% else %>
                <%= render "note" %>
            <% end %>
        </div>
     </div>
</div>


<script>
    var datePicker = document.getElementById("filter")
    var myForm = document.getElementById("myForm")
    datePicker.addEventListener("change", () => {
        myForm.submit()
    })
</script>


